#content{padding:0 5px;}
.brain-map{background:#fff; width:960px; overflow:auto; height:200px; }
.brain-map .stage-inner-wrap{width:9960px; height:100%; }
.brain-map .stage-inner{position:relative; padding-top:20px; cursor:move;}
.brain-map-node{}
	.brain-map-node-children{
		float:left; 
		margin-left: 30px; 
	}
		.brain-map-node-children li{}
			.brain-map-node-bar-v{
				background:url(../img/brain_map_node_bar_l3.png) center right repeat-y; 
				width:84px; 
				position:absolute; }
				.brain-map-node-l1 .brain-map-node-bar-v{ background:url(../img/brain_map_node_bar_1.png) center right repeat-y; }
				.brain-map-node-l2 .brain-map-node-bar-v{ background:url(../img/brain_map_node_bar_2.png) center right repeat-y; }
				.brain-map-node-l3 .brain-map-node-bar-v{ background:url(../img/brain_map_node_bar_3.png) center right repeat-y; }

			.brain-map-node-txt{
				display:block; 
				float:left; 
				width:150px;
				margin-top:0px;
				height:80px;
			}

			.brain-map-node-first,
			.brain-map-node-middle,
			.brain-map-node-last{
				display:block; 
				float:left; 
				width:30px;
				height:100%;
			}

			.brain-map-node-first{
				background:url(../img/brain_map_node_first.png) 0 32px no-repeat; 
			}
				.brain-map-node-l1 .brain-map-node-first{background:url(../img/brain_map_node_first_1.png) 0 32px no-repeat;}
				.brain-map-node-l2 .brain-map-node-first{background:url(../img/brain_map_node_first_2.png) 0 34px no-repeat;}
				.brain-map-node-l3 .brain-map-node-first{background:url(../img/brain_map_node_first_3.png) 0 36px no-repeat;}

			.brain-map-node-middle{
				background:url(../img/brain_map_node.png) left 28px no-repeat; 
			}
				.brain-map-node-l1 .brain-map-node-middle{background-image:url(../img/brain_map_node_1.png);}
				.brain-map-node-l2 .brain-map-node-middle{background-image:url(../img/brain_map_node_2.png);}
				.brain-map-node-l3 .brain-map-node-middle{background-image:url(../img/brain_map_node_3.png);}

			.brain-map-node-last{
				background:url(../img/brain_map_node_last.png) 0 -152px no-repeat; 
			}
				.brain-map-node-l1 .brain-map-node-last{background:url(../img/brain_map_node_last_1.png) 0 -152px no-repeat;}
				.brain-map-node-l2 .brain-map-node-last{background:url(../img/brain_map_node_last_2.png) 0 -154px no-repeat;}
				.brain-map-node-l3 .brain-map-node-last{background:url(../img/brain_map_node_last_3.png) 0 -156px no-repeat;}

			.brain-map-node-btn-wrap{
				margin-left:30px;
			}

			.brain-map-node-up,
			.brain-map-node-down,
			.brain-map-node-keep{ 
				text-align:center;
				cursor:pointer;
				font-size:14px;
				height:28px; 
				line-height:28px; 
			}
			.brain-map-node-up{ background:url(../img/arrow_up.png) 97px 7px no-repeat; padding-right:22px;}
			.brain-map-node-down{ background:url(../img/arrow_down.png) 97px 7px no-repeat; padding-right:22px;}
					
				.brain-map-node-up span:hover,
				.brain-map-node-down span:hover,
				.brain-map-node-keep span:hover{
					color:#E96923;
				}

			.brain-map-node-btn{
				height:52px;
			}
			.brain-map-node-l1 .brain-map-node-btn{background:url(../img/brain_map_node_1.png) -120px top no-repeat;}
			.brain-map-node-l2 .brain-map-node-btn{background:url(../img/brain_map_node_2.png) -120px top no-repeat;}
			.brain-map-node-l3 .brain-map-node-btn{background:url(../img/brain_map_node_3.png) -120px top no-repeat;}

			.brain-map-node-btn .brain-map-node-btn-trigger{
				display:block; 
				height:25px; 
				width:20px; 
				margin-left: 50px;
				cursor:pointer;
			}
			.brain-map-node-l1 .brain-map-node-btn-trigger:hover{background:url(../img/brain_map_node_1_hover.png) -170px center no-repeat;}
			.brain-map-node-l2 .brain-map-node-btn-trigger:hover{background:url(../img/brain_map_node_2_hover.png) -170px center no-repeat;}
			.brain-map-node-l3 .brain-map-node-btn-trigger:hover{background:url(../img/brain_map_node_3_hover.png) -170px center no-repeat;}

			.brain-map-node-l1 .brain-map-node-btn-trigger.collapse{background:url(../img/brain_map_node_1_close.png) -170px center no-repeat;}
			.brain-map-node-l2 .brain-map-node-btn-trigger.collapse{background:url(../img/brain_map_node_2_close.png) -170px center no-repeat;}
			.brain-map-node-l3 .brain-map-node-btn-trigger.collapse{background:url(../img/brain_map_node_3_close.png) -170px center no-repeat;}

			.brain-map-node-l1 .brain-map-node-btn-trigger.collapse:hover{background:url(../img/brain_map_node_1_close_hover.png) -170px center no-repeat;}
			.brain-map-node-l2 .brain-map-node-btn-trigger.collapse:hover{background:url(../img/brain_map_node_2_close_hover.png) -170px center no-repeat;}
			.brain-map-node-l3 .brain-map-node-btn-trigger.collapse:hover{background:url(../img/brain_map_node_3_close_hover.png) -170px center no-repeat;}

				.brain-map-node-btn-wrap.current{
					background:url(../img/brain_map_node_current.png) 0 0 no-repeat; 
				}
				.brain-map-node-btn-wrap.selected{
					background:url(../img/brain_map_node_selected.png) 0 0 no-repeat; 
				}