#content{padding:0 5px;}
.brain-map{background:#fff; width:960px; overflow:auto; height:200px; position:relative; }
	.brain-map .stage-inner-wrap{width:10000px; height:10000px; position:absolute; }

.bm-node{}

.bm-point{background:url(../img/brain_map_node_3.png) right center no-repeat; }
	.bm-node-level-1 .bm-point{background-image:url(../img/brain_map_node_1.png);}
	.bm-node-level-2 .bm-point{background-image:url(../img/brain_map_node_2.png);}
	.color0 .bm-node-level-3 .bm-point{background-image:url(../img/brain_map_node_3_color0.png);}
	.color1 .bm-node-level-3 .bm-point{background-image:url(../img/brain_map_node_3_color1.png);}
	.color2 .bm-node-level-3 .bm-point{background-image:url(../img/brain_map_node_3_color2.png);}
	.color3 .bm-node-level-3 .bm-point{background-image:url(../img/brain_map_node_3_color3.png);}

	.bm-point-btn{
		position:absolute; 
		right:0;
		top:0;
		height:26px; 
		width:30px; 
		cursor:pointer;
		background-position: right center;
		background-repeat:no-repeat;
	}

		.bm-node-level-1 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_1_close.png); }
		.bm-node-level-2 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_2_close.png); }
		.color0 .bm-node-level-3 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_3_close_color0.png); }
		.color1 .bm-node-level-3 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_3_close_color1.png); }
		.color2 .bm-node-level-3 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_3_close_color2.png); }
		.color3 .bm-node-level-3 .bm-point-btn.collapse{background-image:url(../img/brain_map_node_3_close_color3.png); }

.bm-node {
	height:50px;
	cursor:default;
}
#brainMap .bm-node.root{background:none;}
#brainMap .bm-node.root span.bm-node-name-txt{cursor:default;}
	.bm-node-btn-wrap{margin-left:30px; height:35px; padding-left:5px;}
	.bm-node.root .bm-node-btn-wrap{height:50px; background:url(../img/brain_map_node_root.png) left bottom no-repeat; }
	.bm-node.current .bm-node-btn-wrap{background:url(../img/brain_map_node_current.png) left bottom no-repeat; }
	.bm-node.selected .bm-node-btn-wrap{background:url(../img/brain_map_node_selected.png) left bottom no-repeat; }
			.bm-node-btn{ height:33px; padding:2px 5px 0 0; cursor:pointer;}
			.bm-node.root .bm-node-btn{height:50px; padding:0 15px 0 10px; background:url(../img/brain_map_node_root.png) right top no-repeat;}
			.bm-node.current .bm-node-btn{background:url(../img/brain_map_node_current.png) right top no-repeat;}
			.bm-node.selected .bm-node-btn{ background:url(../img/brain_map_node_selected.png) right top no-repeat;}
				.bm-node-name{}
				.bm-node-keep{padding:0 10px;}
				.bm-node-up{padding-right:20px; background:url(../img/arrow_up.png) right center no-repeat;}
				.bm-node-down{padding-right:20px; background:url(../img/arrow_down.png) right center no-repeat;}
					.bm-node-name-txt{z-index:100;}
					.bm-node.root .bm-node-name-txt{line-height:46px; }

.bm-node-level-1 .bm-point-branch{background:url(../img/brain_map_node_bar_2.png) right center no-repeat; }
.bm-node-level-2 .bm-point-branch{background:url(../img/brain_map_node_bar_3.png) right center no-repeat; }
.bm-node-level-2.color0 .bm-point-branch{background-image:url(../img/brain_map_node_bar_3_color0.png);}
.bm-node-level-2.color1 .bm-point-branch{background-image:url(../img/brain_map_node_bar_3_color1.png);}
.bm-node-level-2.color2 .bm-point-branch{background-image:url(../img/brain_map_node_bar_3_color2.png);}
.bm-node-level-2.color3 .bm-point-branch{background-image:url(../img/brain_map_node_bar_3_color3.png);}

	

.bm-node-first{
	background:url(../img/brain_map_node_first_3.png) 0 21px no-repeat; 
}
	.bm-node-level-1 .bm-node-first{background-image:url(../img/brain_map_node_first_1.png); background-position:0 19px;}
	.bm-node-level-2 .bm-node-first{background-image:url(../img/brain_map_node_first_2.png); background-position:0 19px;}
	.color0 .bm-node-level-3 .bm-node-first{background-image:url(../img/brain_map_node_first_3_color0.png); background-position:0 21px;}
	.color1 .bm-node-level-3 .bm-node-first{background-image:url(../img/brain_map_node_first_3_color1.png); background-position:0 21px;}
	.color2 .bm-node-level-3 .bm-node-first{background-image:url(../img/brain_map_node_first_3_color2.png); background-position:0 21px;}
	.color3 .bm-node-level-3 .bm-node-first{background-image:url(../img/brain_map_node_first_3_color3.png); background-position:0 21px;}

.bm-node-middle{
	background:url(../img/brain_map_node_3.png) 0 center no-repeat; 
}
	.bm-node-level-1 .bm-node-middle{background-image:url(../img/brain_map_node_1.png);}
	.bm-node-level-2 .bm-node-middle{background-image:url(../img/brain_map_node_2.png);}
	.color0 .bm-node-level-3 .bm-node-middle{background-image:url(../img/brain_map_node_3_color0.png);}
	.color1 .bm-node-level-3 .bm-node-middle{background-image:url(../img/brain_map_node_3_color1.png);}
	.color2 .bm-node-level-3 .bm-node-middle{background-image:url(../img/brain_map_node_3_color2.png);}
	.color3 .bm-node-level-3 .bm-node-middle{background-image:url(../img/brain_map_node_3_color3.png);}

.bm-node-last{
	background:url(../img/brain_map_node_last_3.png) 0 -169px no-repeat; 
}
	.bm-node-level-1 .bm-node-last{background-image:url(../img/brain_map_node_last_1.png); background-position:0 -169px;}
	.bm-node-level-2 .bm-node-last{background-image:url(../img/brain_map_node_last_2.png); background-position:0 -169px;}
	.color0 .bm-node-level-3 .bm-node-last{background-image:url(../img/brain_map_node_last_3_color0.png); background-position:0 -171px;}
	.color1 .bm-node-level-3 .bm-node-last{background-image:url(../img/brain_map_node_last_3_color1.png); background-position:0 -171px;}
	.color2 .bm-node-level-3 .bm-node-last{background-image:url(../img/brain_map_node_last_3_color2.png); background-position:0 -171px;}
	.color3 .bm-node-level-3 .bm-node-last{background-image:url(../img/brain_map_node_last_3_color3.png); background-position:0 -171px;}

.bm-node-name-txt{font-size:14px; line-height:14px; font-weight:bold;}
