#content{background:#fff; height:500px; overflow:auto;}
.brain-map{}
.brain-map-node{padding-left:50px; display:table-cell; vertical-align:middle;}
	.brain-map-node-txt{
		text-align:center;
		padding-bottom:20px;
		font-size:1.2em;
		width:100px; 
		display:block; 
		float:left; 
		border:3px solid green;
		background:url(../img/brain_map_node.png) center bottom no-repeat; }
	.brain-map-node-ul{float:left; }
		.brain-map-node-ul li{margin-bottom:20px;}